.header {
  background-color: #111;
  height: 72px;
  padding: 12px 24px;
  display: flex;
  align-items: center;

  .delimiter {
    margin: 0 12px;
    padding-top: 6px;
  }

  .moesk {
    background-color: #fff;
    border-radius: 36px;
    padding: 8px 16px;
  }
}
