.home-page {
  padding: 22px 210px;

  .home-row {
    display: grid;
    grid-template-columns: auto 200px;
    justify-content: space-between;
    align-items: flex-end;

    .button.blue {
      margin-bottom: 24px;
    }
  }
}
