.worker-page {
  padding: 22px 210px;
  position: relative;

  .worker-back-button {
    margin-left: -150px;
    margin-top: 50px;
    position: absolute;
  }

  .worker-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
  }

  .content-row + .content-row {
    margin-top: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
    color: #AAA;
    margin: 0 0 4px;
    font-weight: normal;
  }

  .text {
    font-size: 24px;
    line-height: 36px;
    color: #111;
    margin: 0;

    &.date {
      color: #1356A8;
    }
  }
}
