.worker-page {
  padding: 22px 210px;
  position: relative;

  .worker-back-button {
    margin-left: -150px;
    margin-top: 50px;
    position: absolute;
  }

  .worker-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 350px;
    grid-gap: 24px;
  }

  .worker-activity {
    margin-top: 24px;

    .highcharts-point {
      height: 72px;
    }

    .highcharts-color-1 {
      transform: translateY(-44px);
    }

    .highcharts-color-2 {
      transform: translateY(-88.5px);
    }

    .highcharts-color-3 {
      transform: translateY(-121px);
      height: 26px;
    }
  }

  .content-row + .content-row {
    margin-top: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 36px;
    color: #AAA;
    margin: 0 0 4px;
    font-weight: normal;
  }

  .text {
    font-size: 24px;
    line-height: 36px;
    color: #111;
    margin: 0;

    &.date {
      color: #1356A8;
    }
  }
}
